{% extends 'bot/base.html' %}

{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<a class="navbar-brand" href="/index">VK Taxi</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav">
<li><a href="/index">Главная</a></li>
<li><a href="/active_orders">Назвать цену</a></li>
<li><a href="/ok_orders">Передать в такси</a></li>
<li><a href="/canceled_orders">Отменененные заказы</a></li>
<li><a href="/completed_orders">Завершенные заказы</a></li>
</ul>
<a href="/login"><button type="button" class="btn btn-default navbar-btn">Войти</button></a>
</div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="row">
<div class="col-md-8">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="/login/">
{% csrf_token %}
<div>
<p>{{ form.username.label_tag }}</p>
<p>{{ form.username }}</p>
</div>
<div>
<p>{{ form.password.label_tag }}</p>
<p>{{ form.password }}</p>
</div>
<br>
<input type="submit" value="Войти" />
<input type="hidden" name="next" value='/' />
</form>

</div>
</div>
</div>

{% endblock content %}

