{% extends 'bot/base.html' %}

{% block content %}


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<a class="navbar-brand" href="/index">VK Taxi</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav">
<li><a href="/index">Главная</a></li>
<li class="active"><a href="/active_orders">Активные заказы</a></li>
<li><a href="/completed_orders">Завершенные заказы</a></li>
<li><a href="/canceled_orders">Отмененные заказы</a></li>
</ul>
<a href="/login"><button type="button" class="btn btn-default navbar-btn">Войти</button></a>
</div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="row">
<div class="col-md-8">

{% if result %}

<div class="orders">
<p class="lead">Активные заказы</p>
<table class="table table-striped">
<thead>
<tr>
<td>
<strong>№</strong>
</td>
<td>
<strong>Дата</strong>
</td>
<td>
<strong>Сообщение</strong>
</td>
<td>
<strong>Цена</strong>
</td>
<td>
<strong>Действие</strong>
</td>
</tr>
</thead>
<tbody>
{% for order in result %}
<tr>
<td>
{{ order.pos }}
</td>
<td>
{{ order.date }}
</td>
<td>
{{ order.message }}
</td>
<td>
<form id="cost" method="get" action="/complete">
<input type="text" name="cost" size="15">
<input type="hidden" name="id" value="{{ order.id }}">
</form>
</td>
<td>
<a onclick="document.getElementById('cost').submit(); return false;">Выполнить</a> | <a href="/cancel/{{ order.id }}">Отклонить</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if result.has_previous %}
            <a href="?page={{ result.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} of {{ result.paginator.num_pages }}.
        </span>

        {% if result.has_next %}
            <a href="?page={{ result.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>

{% else %}
<p>Заказов нет.</p>
{% endif %}

</div>
</div>
</div>

{% endblock content %}
