{% extends 'bot/base.html' %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<a class="navbar-brand" href="/index">VK Taxi</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav">
<li><a href="/index">Главная</a></li>
<li><a href="/active_orders">Назвать цену</a></li>
<li><a href="/ok_orders">Передать в такси</a></li>
<li class="active"><a href="/canceled_orders">Отменененные заказы</a></li>
<li><a href="/completed_orders">Завершенные заказы</a></li> 
</ul>
<a href="/login"><button type="button" class="btn btn-default navbar-btn">Войти</button></a>
</div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="row">
<div class="col-md-8">

{% if result %}

<div class="orders">
<p class="lead">Отмененные заказы</p>
<table class="table table-striped">
<thead>
<tr>
<td>
<strong>№</strong>
</td>
<td>
<strong>ID</strong>
</td>
<td>
<strong>Дата</strong>
</td>
<td>
<strong>Сообщение</strong>
</td>
<td>
<strong>Действие</strong>
</td>
</tr>
</thead>
<tbody>
{% for order in result %}
<tr>
<td>
{{ order.pos }}
</td>
<td>
{{ order.id }}
</td>
<td>
{{ order.date }}
</td>
<td>
{{ order.message }}
</td>
<td>
Отменен
</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if result.has_previous %}
            <a href="?page={{ result.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} of {{ result.paginator.num_pages }}.
        </span>

        {% if result.has_next %}
            <a href="?page={{ result.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>

{% else %}
<p>Заказов нет.</p>
{% endif %}

</div>
</div>
</div>

{% endblock content %}
