{% extends 'bot/base.html' %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<a class="navbar-brand" href="/index">VK Taxi</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<ul class="nav navbar-nav">
<li class="active"><a href="/index">Главная</a></li>
<li><a href="/active_orders">Активные заказы</a></li>
<li><a href="/completed_orders">Завершенные заказы</a></li>
</ul>
<a href="/login"><button type="button" class="btn btn-default navbar-btn">Войти</button></a>
</div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="row">
<div class="col-md-8">

<p>Добро пожаловать в панель управления заказами VK Taxi!</p>
<a href="https://vk.com/vktaxibot">Перейти на страницу ВКонтакте</a>

</div>
</div>
</div>

{% endblock content %}
